@{
    ViewBag.Title = "Add";
}
@using Resources
<form>
    <table class="info">
        <tr>
            <td class="label">@Html.Label(Resource.Role_ID) </td>
            <td class="field">
                <input id="addForm_RoleCode" name="addForm_RoleCode" class="easyui-textbox" data-options="required:true" />
            </td>

            <td class="label">@Html.Label(Resource.Role_name) </td>
            <td class="field">
                <input id="addForm_RoleName" name="addForm_RoleName" class="easyui-textbox" />
            </td>

            <td class="label">@Html.Label(Resource.Role_description) </td>
            <td class="field">
                <input id="addForm_RoleDesc" name="addForm_RoleDesc" class="easyui-textbox" />
            </td>
        </tr>

        <tr>
            <td colspan="6">
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td style="font-size: 24px;">@Html.Label(Resource.Available_menu) </td>
                        <td></td>
                        <td style="font-size: 24px;">@Html.Label(Resource.Existing_menu)</td>
                    </tr>

                    <tr>
                        <td>
                            <select size="18" style="width: 150px; height:220px;" name="addForm_listLeft" id="addForm_listLeft" class="normal"></select>
                        </td>
                        <td>
                            <button type="button" id="addForm_btnRight" style="font-size: 30px; width: 200px;text-align:center">→@Html.Label(Resource.Add)→</button><br />
                            <button type="button" id="addForm_btnLeft" style="font-size: 30px; width: 200px;text-align:center">←@Html.Label(Resource.Remove)←</button>
                        </td>
                        <td>
                            <select size="18" style="width: 150px; height:220px;" name="addForm_listRight" id="addForm_listRight" class="normal"></select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div style="padding: 5px; text-align: center;">
        <a href="javascript:void(0)" id="addForm_Save" class="easyui-linkbutton" icon="icon-ok">@Html.Label(Resource.Submit)</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" icon="icon-cancel" onclick="closeDlg()">@Html.Label(Resource.Cancel) </a>
    </div>
</form>

<script type="text/javascript">
    //Page load events
    $(function () {
        //Get all menu lists
        GetAllMenu();
    })

    //add to→
    $("#addForm_btnRight").click(function () {
        //Data option the selected data set is assigned to the variable vselect
        var vSelect = $("#addForm_listLeft option:selected");
        //Clone data added to addform_ Listright
        vSelect.clone().appendTo("#addForm_listRight");
        //Also remove addform_ Option in listleft
        vSelect.remove();
    });
    //remove←
    $("#addForm_btnLeft").click(function () {
        var vSelect = $("#addForm_listRight option:selected");
        vSelect.clone().appendTo("#addForm_listLeft");
        vSelect.remove();
    });
    //Double click events on the left menu
    $("#addForm_listLeft").dblclick(function () {
        var vSelect = $("#addForm_listLeft option:selected");
        vSelect.clone().appendTo("#addForm_listRight");
        vSelect.remove();
    });
    //Double click events on the right menu
    $("#addForm_listRight").dblclick(function () {
        var vSelect = $("#addForm_listRight option:selected");
        vSelect.clone().appendTo("#addForm_listLeft");
        vSelect.remove();
    });

    //Get menu list
    function GetAllMenu() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAllMenu")",
                success: function (data) {
                    vlist = "";
                    //Loop assignment
                    jQuery.each(data, function (i, n) {
                        vlist += "<option value=" + n.Value + ">" + n.Text + "</option>";
                    })
                    //Clear the left menu list first
                    $("#addForm_listLeft").empty();
                    //Show the fucker list
                    $("#addForm_listLeft").append(vlist);
                }
            });
        }

    //Submit data
    $('#addForm_Save').click(function () {
        var strPrivCode = "";
        $("#addForm_listRight option").each(function () {
            var PrivCode = $(this).val();
            strPrivCode += PrivCode + ";";
        });
        var RoleCode = $("#addForm_RoleCode").val();
        var RoleName = $("#addForm_RoleName").val();
        var RoleDesc = $("#addForm_RoleDesc").val();

        if (RoleCode == "") {
            $.messager.alert('@Html.Label(Resource.Tips)',' @Html.Label(Resource.Please_fill_in_the_role_number)' );
            return;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddCfg")",
            dataType: "json",
            data: {
                RoleCode: RoleCode,
                RoleName: RoleName,
                RoleDesc: RoleDesc,
                strPrivCode: strPrivCode
            },
            success: function (result) {
                if (result.state === "success") {
                    closeDlg();
                    datagrid();
                    $.messager.alert('@Html.Label(Resource.Tips)', '@Html.Label(Resource.Submitted_successfully)');
                } else {
                    $.messager.alert('@Html.Label(Resource.Error)', result.message, '@Html.Label(Resource.Error)');
                }
            }
        });
    });
</script>