@{
    ViewBag.Title = "About";
}
@using Resources
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        @Html.Label(Resource.Use_this_area_to_provide_additional_information)
    </p>

    <p>
        @Html.Label(Resource.Use_this_area_to_provide_additional_information)
    </p>

    <p>
        @Html.Label(Resource.Use_this_area_to_provide_additional_information)
    </p>
</article>
<aside>
    <h3>  @Html.Label(Resource.Aside_Title)</h3>
    <p>
        @Html.Label(Resource.Use_this_area_to_provide_additional_information)
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Fanyin", "Fanyin", "Home")</li>
    </ul>
</aside>